<h2 mat-dialog-title>{{ 'admin.subjectGroups.enrollClassDialogTitle' | transloco }}</h2>

<mat-dialog-content>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'admin.subjectGroups.schoolYearLabel' | transloco }}</mat-label>
      <mat-select [(ngModel)]="selectedSchoolYearId" (selectionChange)="onSchoolYearChange($event.value)">
        <mat-option *ngFor="let year of schoolYears()" [value]="year.id">{{ year.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'nav.classes' | transloco }}</mat-label>
      <mat-select [(ngModel)]="selectedClassId">
        <mat-option *ngFor="let schoolClass of classes()" [value]="schoolClass.id">{{ schoolClass.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="hint">{{ 'admin.subjectGroups.enrollClassHint' | transloco }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'common.cancel' | transloco }}</button>
  <button mat-flat-button color="primary" [disabled]="!selectedClassId" (click)="onEnroll()">{{ 'admin.subjectGroups.enrollClassButton' | transloco }}</button>
</mat-dialog-actions>
