<h2 mat-dialog-title>{{ (isEditMode ? 'guardians.editTitle' : 'guardians.addTitle') | transloco }}</h2>

<form [formGroup]="guardianForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.titleField' | transloco }}</mat-label>
        <input matInput formControlName="title" [placeholder]="'guardians.placeholderTitle' | transloco">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.firstName' | transloco }}</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="guardianForm.get('firstName')?.invalid">{{ 'guardians.firstNameRequired' | transloco }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.lastName' | transloco }}</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="guardianForm.get('lastName')?.invalid">{{ 'guardians.lastNameRequired' | transloco }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.firstNameEnglish' | transloco }}</mat-label>
        <input matInput formControlName="firstNameEnglish">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.lastNameEnglish' | transloco }}</mat-label>
        <input matInput formControlName="lastNameEnglish">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.nickname' | transloco }}</mat-label>
        <input matInput formControlName="nickname">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'guardians.relationship' | transloco }}</mat-label>
        <input matInput formControlName="relationship" [placeholder]="'guardians.placeholderRelationship' | transloco">
        <mat-error *ngIf="guardianForm.get('relationship')?.invalid">{{ 'guardians.relationshipRequired' | transloco }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.phoneNumber' | transloco }}</mat-label>
        <input matInput type="tel" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'students.email' | transloco }}</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="guardianForm.get('email')?.invalid">{{ 'guardians.emailInvalid' | transloco }}</mat-error>
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="isPrimaryContact">{{ 'guardians.isPrimaryContact' | transloco }}</mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">{{ 'common.cancel' | transloco }}</button>
    <button mat-flat-button color="primary" type="submit">{{ (isEditMode ? 'common.save' : 'common.add') | transloco }}</button>
  </mat-dialog-actions>
</form>
