<app-page-header [title]="'admin.subjects.title' | transloco">
  <button pageActions mat-flat-button color="primary" (click)="onAddSubject()">
    <mat-icon>add</mat-icon>
    {{ 'admin.subjects.addNew' | transloco }}
  </button>
</app-page-header>

<app-loading-state *ngIf="isLoading()" [message]="'admin.subjects.loadingSubjects' | transloco" />

<mat-card *ngIf="!isLoading()">
  <mat-card-content>
    <app-empty-state
      *ngIf="subjects().length === 0; else table"
      icon="book"
      [message]="'admin.subjects.noSubjectsFound' | transloco"
      [actionLabel]="'admin.subjects.addNew' | transloco"
      (action)="onAddSubject()"
    />

    <ng-template #table>
    <div class="table-container">
      <table mat-table [dataSource]="subjects()" class="mat-elevation-z2 app-table">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.subjects.code' | transloco }}</th>
          <td mat-cell *matCellDef="let subject">{{ subject.code }}</td>
        </ng-container>

        <ng-container matColumnDef="nameEnglish">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.subjects.nameEnglish' | transloco }}</th>
          <td mat-cell *matCellDef="let subject">{{ subject.nameEnglish }}</td>
        </ng-container>

        <ng-container matColumnDef="nameThai">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.subjects.nameThai' | transloco }}</th>
          <td mat-cell *matCellDef="let subject">{{ subject.nameThai }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | transloco }}</th>
          <td mat-cell *matCellDef="let subject" class="actions-cell">
            <button mat-icon-button color="primary" (click)="onEditSubject(subject.id)" [matTooltip]="'common.edit' | transloco">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteSubject(subject)" [matTooltip]="'common.delete' | transloco">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    </ng-template>
  </mat-card-content>
</mat-card>
