<app-page-header [title]="'admin.rooms.title' | transloco">
  <button pageActions mat-flat-button color="primary" (click)="onAddRoom()">
    <mat-icon>add</mat-icon>
    {{ 'admin.rooms.addNew' | transloco }}
  </button>
</app-page-header>

<app-loading-state *ngIf="isLoading()" [message]="'admin.rooms.loadingRooms' | transloco" />

<mat-card *ngIf="!isLoading()">
  <mat-card-content>
    <app-empty-state
      *ngIf="rooms().length === 0; else table"
      icon="door_front"
      [message]="'admin.rooms.noRoomsFound' | transloco"
      [actionLabel]="'admin.rooms.addNew' | transloco"
      (action)="onAddRoom()"
    />

    <ng-template #table>
    <div class="table-container">
      <table mat-table [dataSource]="rooms()" class="mat-elevation-z2 app-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.name' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.name }}</td>
        </ng-container>

        <ng-container matColumnDef="building">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.building' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.building }}</td>
        </ng-container>

        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.capacity' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.capacity }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | transloco }}</th>
          <td mat-cell *matCellDef="let room" class="actions-cell">
            <button mat-icon-button color="primary" (click)="onEditRoom(room.id)" [matTooltip]="'common.edit' | transloco">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteRoom(room)" [matTooltip]="'common.delete' | transloco">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    </ng-template>
  </mat-card-content>
</mat-card>
