<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'admin.rooms.title' | transloco }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="table-header">
      <button mat-raised-button color="primary" (click)="onAddRoom()">
        <mat-icon>add</mat-icon>
        {{ 'admin.rooms.addNew' | transloco }}
      </button>
    </div>

    <div class="table-container" *ngIf="!isLoading()">
      <table mat-table [dataSource]="rooms()" class="mat-elevation-z2">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.name' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.name }}</td>
        </ng-container>

        <ng-container matColumnDef="building">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.building' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.building }}</td>
        </ng-container>

        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.rooms.capacity' | transloco }}</th>
          <td mat-cell *matCellDef="let room">{{ room.capacity }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | transloco }}</th>
          <td mat-cell *matCellDef="let room">
            <button mat-icon-button color="primary" (click)="onEditRoom(room.id)" [matTooltip]="'common.edit' | transloco">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteRoom(room)" [matTooltip]="'common.delete' | transloco">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            {{ 'admin.rooms.noRoomsFound' | transloco }}
          </td>
        </tr>
      </table>
    </div>

    <div class="loading-container" *ngIf="isLoading()">
      <p>{{ 'admin.rooms.loadingRooms' | transloco }}</p>
    </div>
  </mat-card-content>
</mat-card>
