<h2 mat-dialog-title>{{ 'admin.classes.moveMemberDialogTitle' | transloco }}</h2>

<mat-dialog-content>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'admin.classes.targetClassLabel' | transloco }}</mat-label>
      <mat-select [(ngModel)]="toClassId">
        <mat-option *ngFor="let schoolClass of data.otherClasses" [value]="schoolClass.id">
          {{ schoolClass.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'admin.classes.moveDateLabel' | transloco }}</mat-label>
      <input matInput [matDatepicker]="movePicker" [(ngModel)]="moveDate">
      <mat-datepicker-toggle matIconSuffix [for]="movePicker"></mat-datepicker-toggle>
      <mat-datepicker #movePicker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'common.cancel' | transloco }}</button>
  <button mat-flat-button color="primary" [disabled]="!toClassId" (click)="onMove()">{{ 'admin.classes.moveButton' | transloco }}</button>
</mat-dialog-actions>
